---
layout: default
title: "leafdecay"
permalink: /pages/leafdecay/
active: /pages/leafdecay/
---

The leafdecay package is designed to facilitate the leaf litter decomposition analysis.

To install the latest developmental version from github you will need the R package devtools (NOT YET IN CRAN):

devtools::install_github("PEGutierrezF/leafdecay")