---
layout: default
title: "Outreach"
permalink: /pages/Outreach/
active: /pages/Outreach/
---
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="header-light regular-pad">Gu&#237a fotogr&#225fica para la identificaci&#243n de macroinvertebrados acu&#225ticos de Puerto Rico</h4>
              <p class="lead"><a href="https://www.researchgate.net/publication/295854904_Guia_fotografica_de_familias_de_macroinvertebrados_acuaticos_de_Puerto_Rico">Descargue</a> </p>
      </div> 
       <br/>
      <br/>
        <div class="col-md-6 text-center">
            <img src="{{ "/assets/img/Guide.jpg" | relative_url }}" 
            Sizes="(max-width: 300px) 100px, 30vw" alt="image" class="img-responsive">
        </div>
  </div>
