---
layout: default
title: "Teaching"
permalink: /pages/Teaching/
image_sliders:
  - slider1
  - slider2
  - slider3
  - slider4
---
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="header-light regular-pad">Stream ecology (B-0609 & SP-8232*)</h4>
            <h6>*Graduate level</h6>
              <p class="lead">This course provides students with theoretical and applied knowledge on tropical stream ecology. Topics include channel morphology, water physicochemistry, biogeochemical cycling, and the structure and function of organisms that live in these ecosystems. I encourage students to read and critically discuss both "classical" and recent literature. We also discuss the current and future challenges to conservation and sustainable management of tropical streams. During the semester, we visit a few field sites to make observations and practice the methodologies that we discussed in class. These photos are from our last field trip to La Selva Biological Station, where students conducted a reaeration experiment in collaboration with Nick, a PhD student at NCSU.
<br/></p>
        </div>
        <br/>
        <br/>
        <div class="col-md-6 text-center">
            {% include slider.html selector="slider1" %}
        </div>
      </div>
<hr style="height:0.5px;border-width:0;color:gray;background-color:gray"> <!-- Gray Line -->      
<br/>  
<br/>  
<!------------------------------ Aquatic entomology -------------------------------------> 
<!------------------------------ Photos left, move up --------------------------------> 
    <div class="row">
    <div class="col-md-6 text-center">
    <br/> <!-- Space to move down photos --> 
    <br/> <!-- Space to move down photos -->
       {% include slider.html selector="slider2" %}
        </div>
        <div class="col-md-6">
            <h4 class="header-light regular-pad">Aquatic entomology (B-0520 & SP-0965*)</h4>
            <h6>*Graduate level</h6>
              <p class="lead">I teach this class jointly with Professor Monika Springer at UCR. We start this course by discussing basic concepts related to morphology, physiology, natural history, and diversity of aquatic insects. We go over general principles of freshwater biology and ecological classification of aquatic habitats. We also cover evolution, adaptation, and biomonitoring. During the course, we go on at least three field trips to show students the preferred habitats for each aquatic insect taxa. We visit different regions of Costa Rica, such as the Dry Forest (Guanacaste), P&#225ramo (Cerro de la Muerte) and lowland forests (La Selva Biological Station). Students prepare two insect collections throughout the course and learn to identify the most common families and genera of aquatic insects of Costa Rica.
<br/></p>
        </div>
        </div>

<hr style="height:0.5px;border-width:0;color:gray;background-color:gray"> <!-- Gray Line --> 
<br/>  
<br/>  
<!------------------------------ Another course, Limnology ----------------------------> 
    <div class="row">
        <div class="col-md-6">
            <h4 class="header-light regular-pad">Limnology (B-406)</h4>
              <p class="lead">Limnology is the study of inland waters - lakes, streams, wetlands, and reservoirs. I teach this class jointly with Professor Gerardo Uma&#241a at UCR.  Topics that we cover include: the origin of lakes, the importance of chemical and physical properties, biogeochemical cycles (e.g., carbon, nitrogen, phosphorus, iron and silicon), freshwater pollution and eutrophication, food-webs and energy flow, and paleolimnology. The course also includes training in chemical analysis and water sampling techniques, as well as species identification of phytoplankton, zooplankton, macroinvertebrates, and fish. During a weekend field trip, students get practical experience collecting samples in lake ecosystems.</p>
        </div>
        <br/>
        <br/>
        <div class="col-md-6 text-center">
        {% include slider.html selector="slider3" %}
        </div>
      </div>

<hr style="height:0.5px;border-width:0;color:gray;background-color:gray">
<br/>  
<br/>  
<!------------------------------ Another course, Biomoniroing -----------------------> 
    <div class="row">
        <div class="col-md-6 text-center">
<br/> <!-- Space to move down photos --> 
<br/> <!-- Space to move down photos -->
        {% include slider.html selector="slider4" %}
        </div>
        
        <div class="col-md-6">
            <h4 class="header-light regular-pad">Aquatic biomonitoring (B-0799)</h4>
              <p class="lead">I teach this class jointly with Professors Monika Springer and Gerardo Uma&#241a, both from the University of Costa Rica. In the lectures, we discuss the origin of biomonitoring (both in Costa Rica and globally), environmental laws and regulations, the various water quality indices, and the use of aquatic organisms (e.g., fish, macroinvertebrates, diatoms) as indicators of pollution.  We teach students how to build and use the Index of Biological Integrity (IBIs) and Rapid Assessment Protocols.  We discuss the most important physicochemical parameters for water quality analysis, including their maximum permissible limits and potential effects for biota and humans.  As a final project, students prepare a proposal for a 'hypothetical' Aquatic Biomonitoring Plan in order to develop and strengthen skills related to planning biomonitoring activities, building a schedule, determining costs and budgets, and considering unforeseen fieldwork challenges.</p>
        </div>
        <br/>
        <br/>
      </div>
<br/>  
<br/>
<br/>  
<br/>
<br/>  
<br/>

</div> <!-- Last line.  This closes with the first div> --> 
            
