<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130477932-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130477932-1');
</script>

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}">

    <link rel="shortcut icon" href="{{ "/assets/img/stonefly.png" | relative_url }}">
    {% seo %}
    
    <link rel="stylesheet" href="{{"/assets/academicons/css/academicons.min.css"| relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
{% if page.image_sliders or layout.image_sliders or page.image_sliders_load_all -%}
<link rel="stylesheet" href="{{ "/assets/css/slider/ideal-image-slider.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/slider/themes/default.css" | relative_url }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}"/>
</head>
