<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ "index.html" | relative_url }}">
                <span><img src="{{ "/assets/img/stonefly.png" | relative_url }}" alt="Logo"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
<li {% if page.sectionid=='About' %} class="active" {% endif %}><a href="{{ "About.html" | relative_url }}">About me</a></li>
<li {% if page.sectionid=='Publications' %} class="active" {% endif %}><a href="{{ "PublicationList.html" | relative_url }}">Publications</a></li>
<li {% if page.sectionid=='pages' %} class="active" {% endif %}><a href="{{ "/pages/Rpackages.html" | relative_url }}">R packages</a></li>
<li {% if page.sectionid=='pages' %} class="active" {% endif %}><a href="{{ "Research.html" | relative_url }}">Research</a></li>
              </ul>
            <div class="navbar-right">
                <form class="navbar-form navbar-left">
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/PEGutierrezF"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/pabloguticr"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
</nav>
