<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ "index.html" | relative_url }}">
                <span><img src="{{ "/assets/img/stonefly.png" | relative_url }}" alt="Logo"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
<li><a href="/TropicalFreshwaterEcology/pages/about/"{% if page.sectionid == 'pages' %} class="active"{% endif %}>About me</a></li>
<li><a href="/TropicalFreshwaterEcology/pages/Research/"{% if page.sectionid == 'pages' %} class="active"{% endif %}>Research</a></li>
<li><a href="/TropicalFreshwaterEcology/pages/Publications.html"{% if page.sectionid == 'pages' %} class="active"{% endif %}>Publications</a></li>
              </ul>
            <div class="navbar-right">
                <form class="navbar-form navbar-left">
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/PEGutierrezF"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/pabloguticr"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:pabloe.gutierrezfonseca@gmail.com" ><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
            </div>
</nav>
