<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ "index.html" | relative_url }}">
                <span><img src="{{ "/assets/img/stonefly.png" | relative_url }}" alt="Logo"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
<li><a href="/TropicalFreshwaterEcology/pages/about/"{% if page.sectionid == 'pages' %} class="active"{% endif %}>About me</a></li>
<li><a href="/TropicalFreshwaterEcology/pages/Research/"{% if page.sectionid == 'pages' %} class="active"{% endif %}>Research</a></li>
<li><a href="/TropicalFreshwaterEcology/pages/Publications/"{% if page.active == /pages/Publications/ %} class="active"{% endif %}>Publications</a></li>
<li><a href="/TropicalFreshwaterEcology/pages/Teaching/"{% if page.sectionid == 'pages' %} class="active"{% endif %}>Teaching</a></li>
          </ul>
          
          
          
          
          {% endcomment %}
      <ul class="left">
        {% for link in site.data.navigation %}

              {% if link.url contains 'http' %}
                {% assign domain = '' %}
                {% assign _baseurl = '' %}
              {% elsif link.url == '#' %}
                {% assign domain = '' %}
                {% assign _baseurl = site.baseurl %}
              {% else %}
                {% assign domain = site.url %}
                {% assign _baseurl = site.baseurl %}
              {% endif %}

          {% comment %}   If there are links for left side begin   {% endcomment %}
          {% if link.side == 'left' %}

            {% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
            {% if link.dropdown == nil %}
              <li{% if link.url == page.url %} class="active"{% elsif page.homepage == true and link.url == '/' %} class="active"{% endif %}><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a></li>
              <li class="divider"></li>

            {% comment %}   If left side WITH dropdown menu do   {% endcomment %}
            {% else %}

              <li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
                <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a>

                  <ul class="dropdown">
                    {% for dropdown_link in link.dropdown %}

                      {% if dropdown_link.url contains 'http' %}
                        {% assign domain = '' %}
                        {% else %}
                        {% assign domain = site.url %}
                      {% endif %}

                      <li><a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url }}"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape }}</a></li>
                    {% endfor %}
                  </ul>

              </li>
              <li class="divider"></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% comment %}   Second loop finished   {% endcomment %}
      </ul>
    </section>
    
    
    
            <div class="navbar-right">
                <form class="navbar-form navbar-left">
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/PEGutierrezF"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/pabloguticr"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:pabloe.gutierrezfonseca@gmail.com" ><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
            </div>
</nav>
